################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/shanny-blog-net/.vs/shanny-blog-net.slnx
/shanny-blog-net/shanny-blog-net/obj
/shanny-blog-net/shanny-blog-net/bin/Debug/net10.0
/shanny-blog-net/.vs/shanny-blog-net/CopilotIndices/18.7.1225.11805
/shanny-blog-net/.vs/ProjectEvaluation
/shanny-blog-net/blog-common/bin/Debug/net10.0
/shanny-blog-net/blog-common/obj/Debug/net10.0/ref
/shanny-blog-net/blog-common/obj/Debug/net10.0/refint
/shanny-blog-net/blog-common/obj/Debug/net10.0/refint/blog-common.dll
/shanny-blog-net/blog-pojo/bin/Debug/net10.0
/shanny-blog-net/blog-common/obj
/shanny-blog-net/blog-pojo/obj
/shanny-blog-net/blog-server/bin/Debug/net10.0
/shanny-blog-net/blog-server/obj
