################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/shanny-blog-net/.vs/shanny-blog-net.slnx
/shanny-blog-net/shanny-blog-net/obj
/shanny-blog-net/shanny-blog-net/bin/Debug/net10.0
/shanny-blog-net/.vs/shanny-blog-net/CopilotIndices/18.7.1225.11805
