@font-face {
  font-family: 'DMSans';
  src:
    url('../fonts/DMSans/DMSans-Medium.ttf') format('truetype'),
    url('../fonts/DMSans/DMSans-Regular.ttf') format('truetype'),
    url('../fonts/DMSans/DMSans-Bold.ttf') format('truetype'),
    url('../fonts/DMSans/DMSans-Black.ttf') format('truetype'),
    url('../fonts/DMSans/DMSans-ExtraBold.ttf') format('truetype'),
    url('../fonts/DMSans/DMSans-ExtraLight.ttf') format('truetype'),
    url('../fonts/DMSans/DMSans-Light.ttf') format('truetype'),
    url('../fonts/DMSans/DMSans-SemiBold.ttf') format('truetype'),
    url('../fonts/DMSans/DMSans-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  src:
    url('../fonts/Urbanist/Urbanist-Medium.ttf') format('truetype'),
    url('../fonts/Urbanist/Urbanist-Regular.ttf') format('truetype'),
    url('../fonts/Urbanist/Urbanist-Bold.ttf') format('truetype'),
    url('../fonts/Urbanist/Urbanist-Black.ttf') format('truetype'),
    url('../fonts/Urbanist/Urbanist-ExtraBold.ttf') format('truetype'),
    url('../fonts/Urbanist/Urbanist-ExtraLight.ttf') format('truetype'),
    url('../fonts/Urbanist/Urbanist-Light.ttf') format('truetype'),
    url('../fonts/Urbanist/Urbanist-SemiBold.ttf') format('truetype'),
    url('../fonts/Urbanist/Urbanist-Thin.ttf') format('truetype');
}
