<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanny.mapper.TagMapper">
    <insert id="insert_tag" parameterType="com.shanny.entity.Tag" useGeneratedKeys="true" keyProperty="id">
        insert into shanny_blog.tags(name, name_en) values (#{name}, #{nameEn})
    </insert>
    <update id="updateById" parameterType="com.shanny.entity.Tag">
        update shanny_blog.tags
        <set>
            <if test="name != null">name = #{name}, </if>
            <if test="nameEn != null">name_en = #{nameEn}, </if>
        </set>
        where id = #{id}
    </update>
</mapper>